@model WebLoginModel
@{
    ViewBag.Title = "登陆";
    Layout = "~/Areas/ShortWeb/Views/Shared/Master.cshtml";
}
@section Styles{
    @Styles.Render("~/Styles/IcheckSkins")
}
<section id="inner-banner">

    <div class="container">

        <h1>登陆账户</h1>

    </div>

</section>

<!--INNER BANNER END-->
<!--MAIN START-->

<div id="main">



    <!--SIGNUP SECTION START-->

    <section class="signup-section">

        <div class="container">

            <div class="holder">
                <input type="hidden" value="@ViewBag.IsReduit" />
                <div class="thumb"><img src="~/Content/foreground/images/signup.png" alt="img"></div>
                @using (Ajax.BeginForm("Login", new { returnUrl = ViewBag.ReturnUrl }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "BeginLogin", OnSuccess = "SuccessLogin" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-error" })
                    @Html.AntiForgeryToken()
                    <div class="input-box">
                        <i class="fa fa-user"></i>
                        @Html.TextBoxFor(c => c.Name, htmlAttributes: new { placeholder = "用户名" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-error" })
                    </div>

                    <div class="input-box">
                        <i class="fa fa-unlock"></i>
                        @Html.PasswordFor(c => c.PassWord, htmlAttributes: new { placeholder = "密码" })
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-error" })
                    </div>
                    <div class="select-box">
                        <div class="selector">
                            <select class="full-width" name="Type">
                                <option value="False">找工作</option>
                                <option value="True">招聘</option>
                            </select>
                            <span class="custom-select full-width">找工作</span>
                        </div>

                    </div>
                    <div class="check-box">
                        @Html.CheckBoxFor(c => c.ReadMe)
                        <label><strong>&nbsp;&nbsp;记住我</strong></label>
                    </div>

                    <input type="submit" value="登 陆">
                    <div class="login-social">
                        <em>您还没有账户？<a href="@Url.Action("Register", "Home")">创建一个</a></em>
                    </div>
                }
            </div>

        </div>

    </section>

    <!--SIGNUP SECTION END-->



</div>
@section Scripts{

    @Scripts.Render("~/Scripts/Foreground/Jquery-Noconflict")
    @Scripts.Render("~/Scripts/Foreground/Theme-Scripts")
    @Scripts.Render("~/Scripts/Foreground/Jquery")
    @Scripts.Render("~/Scripts/Jquery-Validate")
    @Scripts.Render("~/Scripts/Jquery-Validate-unobtrusive")
    @Scripts.Render("~/Scripts/Jquery-Ajax-unobtrusive")
    @Scripts.Render("~/Scripts/Icheck")
    @Scripts.Render("~/Scripts/LayAlert")
    @Scripts.Render("~/Scripts/Pace")
    @*自定义js*@
    @Scripts.Render("~/Scripts/Foreground/WebLogin")
}

