
@{
    ViewBag.Title = "注册";
    Layout = "~/Areas/ShortWeb/Views/Shared/Master.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/Foreground/JquerySteps")
}
<section id="inner-banner">

    <div class="container">

        <h1>注册账户</h1>

    </div>

</section>

<!--INNER BANNER END-->
<!--MAIN START-->

<div id="main">



    <!--SIGNUP SECTION START-->

    <section class="signup-section">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <form id="form" action="form_wizard.html#" class="wizard-big wizard clearfix" role="application" novalidate="novalidate">
                                <div>
                                    <h3>Account</h3>
                                    <section>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">用户名 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="userName" name="userName" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">密码 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="password" name="password" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">确认密码 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="confirm" name="confirm" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <h3 class="col-md-6">Profile</h3>
                                    <section>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">用户名 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="userName" name="userName" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">密码 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="password" name="password" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">确认密码 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="confirm" name="confirm" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <h3 class="col-md-6">Hints</h3>
                                    <section>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">用户名 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="userName" name="userName" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">密码 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="password" name="password" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">确认密码 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="confirm" name="confirm" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <h3 class="col-md-6">Finish</h3>
                                    <section>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">用户名 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="userName" name="userName" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">密码 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="password" name="password" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="row text-left">
                                                        <label class="control-label col-md-4 text-right">确认密码 *</label>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <input id="confirm" name="confirm" type="text" class="form-control required" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!--SIGNUP SECTION END-->



</div>




@section Scripts{
    @Scripts.Render("~/Scripts/Foreground/JquerySteps")
    @Scripts.Render("~/Scripts/Jquery-Validate")
    @Scripts.Render("~/Scripts/Jquery-Validate-unobtrusive")
    @Scripts.Render("~/Scripts/Foreground/WebRegister")
}