@model IconViewModel
@{
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@if (Model == null)
{
    using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "post", OnBegin = "BeginCreateIcon", OnSuccess = "SuccessCreateIcon" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal box">
            <div class="box-body">
                @Html.ValidationSummary(true, "", new { @class = "text-error" })
                <div class="form-group col-md-6">
                    <div class="row">
                        @Html.LabelFor(model => model.Prefix, htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                        <div class="col-xs-12 col-md-8">
                            <div class="row clear-margin">
                                @Html.EditorFor(model => model.Prefix, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                @Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "text-error" })
                            </div>

                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6">
                    <div class="row">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                        <div class="col-xs-12 col-md-8">
                            <div class="row clear-margin">
                                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-error" })
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="row text-center marTop-xs">
                        <input type="submit" value="创建" class="btn btn-success" />
                    </div>
                </div>
            </div>`
        </div>
    }
}
else
{
    using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "post", OnBegin = "BeginEditIcon", OnSuccess = "SuccessCreateIcon" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal box">
            <div class="box-body">
                @Html.ValidationSummary(true, "", new { @class = "text-error" })
                @Html.HiddenFor(c=>c.ID)
                <div class="form-group col-md-6">
                    <div class="row">
                        @Html.LabelFor(model => model.Prefix, htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                        <div class="col-xs-12 col-md-8">
                            <div class="row clear-margin">
                                @Html.EditorFor(model => model.Prefix, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                <input id="hidPrefix" type="hidden" value="@Model.Prefix" />
                                @Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "text-error" })
                            </div>

                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6">
                    <div class="row">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                        <div class="col-xs-12 col-md-8">
                            <div class="row clear-margin">
                                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                <input id="hidContent" type="hidden" value="@Model.Content" />
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-error" })
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="row text-center marTop-xs">
                        <input type="submit" value="创建" class="btn btn-success" />
                    </div>
                </div>
            </div>`
        </div>
    }
}

@section Scripts{
    @Scripts.Render("~/Scripts/Jquery-Ajax-unobtrusive")
    @Scripts.Render("~/Scripts/IconCreate")
}
