<!--BURGER NAVIGATION SECTION START-->

<div class="cp-burger-nav">

    <!--BURGER NAV BUTTON-->

    <div id="cp_side-menu-btn" class="cp_side-menu"><a href="#" class=""><img src="~/Content/foreground/images/menu-icon.png" alt="img"></a></div>

    <!--BURGER NAV BUTTON-->
    <!--SIDEBAR MENU START-->

    <div id="cp_side-menu">
        <a href="#" id="cp-close-btn" class="crose"><i class="fa fa-close"></i></a>

        <div class="cp-top-bar">

            <h4>有任何问题请拨打：15188235022</h4>

            <div class="login-section"> <a href="@Url.Action("Login","Home")" class="btn-login">登录</a> <a href="@Url.Action("Register","Home")" class="btn-login">注册</a> </div>

        </div>

        <strong class="logo-2"><a href="index.html"><img src="~/Content/foreground/images/sidebar-logo.png" alt="img"></a></strong>

        <div class="content mCustomScrollbar">

            <div id="content-1" class="content">

                <div class="cp_side-navigation">

                    <nav>

                        <ul class="navbar-nav">

                            <li class="active">
                                <a href="@Url.Action("List","Home")">首页</a>
                            </li>
                            <li>
                                <a href="index.html">职位</a>
                            </li>

                            <li><a href="employers.html">公司</a></li>

                            <li><a href="@Url.Action("Contact")">联系我们</a> </li>

                        </ul>

                    </nav>

                </div>

            </div>

        </div>
        <strong class="copy">GitHub-Neilsons &copy; 2019, 版权所有</strong>
    </div>

    <!--SIDEBAR MENU END-->



</div>

<!--BURGER NAVIGATION SECTION END-->

<div class="container">

    <!--NAVIGATION START-->

    <div class="navigation-col">

        <nav class="navbar navbar-inverse">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                <strong class="logo"><a href="index.html"><img src="~/Content/foreground/images/logo.png" alt="logo"></a></strong>
            </div>

            <div id="navbar" class="collapse navbar-collapse">

                <ul class="nav navbar-nav" id="nav">

                    <li>
                        <a href="@Url.Action("List","Home")">首页</a>
                    </li>

                    <li>
                        <a href="candidates-listings.html">职位</a>
                    </li>

                    <li><a href="employers.html">公司</a></li>

                    <li>
                        <a href="@Url.Action("Contact","Web")">联系我们</a>
                    </li>
                </ul>

            </div>

        </nav>

    </div>

    <!--NAVIGATION END-->

</div>



<!--USER OPTION COLUMN START-->

<div class="user-option-col">

    <div class="thumb">

        <div class="dropdown">

            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <img src="~/Content/foreground/images/user-img.png" alt="img"></button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                <li><a href="">管理账户</a></li>

                <li><a href="@Url.Action("EditPassWord","Home")">修改密码</a></li>
                <li><a href="@Url.Action("PublishMsg","Web")">发布</a></li>
                <li><a href="@Url.Action("SignOut","Home")">登 出</a></li>

            </ul>

        </div>

    </div>
</div>

<!--USER OPTION COLUMN END-->
