@using ShortRent.Web.MvcExtention
@model IEnumerable<RoleViewModelIndex>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="row  gray-bg">
    <div class="col-xs-12 ">
        <div class="row marTOrd-sm ">
            <p class="col-xs-4 col-sm-3 col-lg-2">
                @Html.ActionLinkAdd("创建", "Create", new { @class = "btn btn-primary btn-sm" })
            </p>
            <p class="col-xs-8 col-sm-9 col-lg-10">

            </p>
        </div>
    </div>
    <div class="col-xs-12 ">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("分配权限", "Details", new { id = item.ID }) 
                    </td>
                </tr>
            }

        </table>
    </div>
</div>



