<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/Content/Images/AdminImg/@WorkContext.CurrentPerson.PerImage" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>@User.Identity.Name</p>
            <a href="#"><i class="fa fa-circle text-success"></i>在线</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">主导航</li>
        @SiteMap(((IMvcSiteMapProvider)ViewBag.MvcSiteMap).GetSiteMap(ViewContext))
        <li class="header">友情链接</li>
        <li><a href="https://glyphsearch.com/"><i class="fa fa-circle-o text-info"></i> <span>图标查询</span></a></li>
        <li><a href="https://github.com/Neilsons"><i class="fa fa-circle-o text-yellow"></i> <span>个人GitHub</span></a></li>
    </ul>
</section>
@helper SiteMap(IEnumerable<ManagerBread> nodes)
{
/**/
foreach (ManagerBread node in nodes)
{
    string IsOpen="";
    string highLight = "";
    string _class="";
    if (node.HasActiveChildren==true)
    {
        IsOpen= "menu-open";
        highLight = "active";
        _class = "display-block";
    }
    if (string.IsNullOrEmpty(node.ControllerName)==false  && string.IsNullOrEmpty(node.ActionName)==false&&node.Activity && node.Childrens.Any(c => c.Activity == true) == false)
    {
            <li class="@highLight">
                <a href="/@node.ControllerName/@node.ActionName">
                    <i class="@node.ClassIcons" style="color:@node.Color;"></i> <span>@node.Name</span>
                </a>
            </li>
        }
        else if (string.IsNullOrEmpty(node.ControllerName) == true && string.IsNullOrEmpty(node.ActionName) == true && node.Activity&&node.Childrens.Any(c=>c.Activity==true)==true)
        {
            
            <li class="treeview @IsOpen">
                <a href="">
                    <i class="@node.ClassIcons" style="color:@node.Color;"></i> <span>@node.Name</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                @if (node.Childrens.Any(c => c.Activity))
                {
                    <ul class="treeview-menu @_class">
                        @SiteMap(node.Childrens)
                    </ul>
                }
            </li>
         }
      }
}